<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="alternate" type="application/activity+json" href="./index.json">
</head>
<body>
  {% include "nav.njk" %}
  <article>
    <h1>{{ title }}</h1>
    <div>{{ content | safe }}</div>
  </article>
</body>
</html>
