<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="alternate" type="application/activity+json" href="./index.json">
</head>
<body>
  {% include "nav.njk" %}
  <article>
    <h1>{{ title }}</h1>
    <div>{{ content | safe }}</div>
    <p>page.url: {{ page.url }}</p>
    <p>xxx: {{ url }}</p>
    <p>url(page.url): {{ page.url | url }}</p>
    <p>abs: {{ page.url | url | absoluteUrl(site.url) }}</p>
    <p>Follow endpoint: {{ ap.inboxUrl }}</p>
    <p>Actor: {{ ap.serviceUrl }}</p>
  </article>
</body>
</html>
