{% set idUrl = page.url | url | absoluteUrl(site.url) %}
{
  "@context": "https://www.w3.org/ns/activitystreams",
  "id": "{{ idUrl }}",
  "type": "Note",
  "attributedTo": "{{ '/ap' | url | absoluteUrl(site.url) }}",
  "published": "{{ published | date }}",
  "to": ["https://www.w3.org/ns/activitystreams#Public"],
  "cc": ["{{ '/ap/followers' | url | absoluteUrl(site.url) }}"],
  "name": {{ title | dump }},
  "content": {{ content | dump }},
  "url": "{{ page.url | url | absoluteUrl(site.url) }}"
}
