{
  "@context": "https://www.w3.org/ns/activitystreams",
  "id": "{{ '/ap/outbox/index.json' | url | absoluteUrl(site.url) }}",
  "type": "OrderedCollection",
  "totalItems": {{ collections.notes | length }},
  "orderedItems": [
    {%- for p in collections.notes | reverse -%}
      {
        "type": "Create",
        "id": "{{ '/ap/outbox#create-' ~ p.fileSlug | url | absoluteUrl(site.url) }}",
        "actor": "{{ ap.serviceUrl }}",
        "published": "{{ (p.data.published or p.date) | date }}",
        "to": ["https://www.w3.org/ns/activitystreams#Public"],
        "cc": ["{{ '/followers' | ap.serviceUrl }}"],
        "object": "{{ (p.url + 'index.json') | url | absoluteUrl(site.url) }}"
      }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ]
}
