---
title: "All notes"
layout: base.njk
permalink: "index.html"
---

<ul>
{% for p in collections.notes | reverse %}
  <li>
    <a href="{{ p.url }}">{{ p.data.title or p.fileSlug }}</a>
    <small>— {{ (p.data.published or p.date) | date }}</small>
  </li>
{% endfor %}
</ul>
